registry=https://registry.npmjs.org/
@neutron:registry=https://nexus.hca.corpad.net/repository/hca-npm-innersource
https-proxy=http://proxy2.nas.medcity.net:80
proxy=http://proxy2.nas.medcity.net:80
strict-ssl=false
no_proxy=api.figma.com